.services {
    background-color: rgb(163, 163, 163);
}

.row img {
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

#serviceBio {
    margin-left: 25%;
    margin-right: 25%;
}

#rowService {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.list-group-item {
    background-color: rgb(163, 163, 163) !important;
    border-radius: 5px;
    width: 25%;
    margin-left: 37.50%;
    margin-right: 37.50%;
}

.type-group-item {
    display: inline-flex;
    align-items: center;
    margin-right: 32px;
}

/* #checkBoxes {
    display: inline-flex;
} */